@{
    Layout = null;
    ViewBag.Title = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <p>@Html.ActionLink("clique aqui", "Index", "Home");</p>
        <p>opa... blz???</p>
    </div>
</body>
</html>
